<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{pageHeading}}</h1>
            </div>
        </div>
        {{#if body}}
            <div class="row">
                <div class="col-xs-12">
                    <p>{{body.intro}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="{{body.part2.leftImage.url}}" alt="{{body.part2.leftImage.alt}}">
                </div>
                <div class="col-md-6">
                    <p>{{body.part2.text}}</p>
                </div>
            </div>
        {{/if}}
        <div class="row">
            <div id="app" class="col-12">
                <div class="row" v-cloak>
                    <profile-component v-for="profile of profiles" :profile="profile" :key="profile._id"/>
                </div>
                <div class="row">
                    <div class="loading" v-show="loading"></div>
                    <div class="col-12 d-flex justify-content-center">
                        <button type="button" class="btn btn-success" v-cloak v-on:click="fetchData" v-show="loadMore" :disabled='isDisabled'>{(loadButton)}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#each scripts}}
        <script src="{{this}}"></script>
    {{/each}}
</body>

</html>
